*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 500px;
}

.content{
    height: 80vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    user-select: none;
}

.container{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.face{
    position: absolute;
    width: 40%;
}

.glasses{
    position: absolute;
    top:-5%;
    width:40%;
    position: relative;
    transition: all 0.5s;
    user-select: none;
}